
# PostgreSQL Connection Variables
POSTGRES_DB=your_database # eg: multitenant_db
POSTGRES_USER=your_user # eg: postgres
POSTGRES_PASSWORD=your_password # eg: postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis Connection Variables
REDIS_URL=redis://cache:6379/0